/*
.Countdown-timer {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
*/

.Countdown-timer {

    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 0.5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:-200px;}
    100%  {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    50% {left:0px; top:-200px;}
    100%  {left:0px; top:0px;}
}